<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media='screen and (min-width: 900px)' href="css/rest.css">
    <link rel='stylesheet' media='screen and (max-width: 900px)' href='css/rest_mobile.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap" rel="stylesheet">
    <title>mohamed triki</title>
    <link rel="icon" href="img/logo.svg" sizes="32x32" type="image/svg">
</head>
<body>
    
</body>
</html>