html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden ;
    box-sizing: border-box;
    font-size: 1.6em;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: fixed;
    width: 100vw;
    z-index: 999;

}
#logo{
    position: relative;
    top:5px;
    left: 10px;
}
.wrapper{
    margin-right: 5vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

li {
    margin-left: 11vw;
}

li a {
    display: block;
    color: #1150A0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:  20px;
    font-weight:500;
    padding: 16px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius:3px;
    border-bottom: 5px solid #F8D508;}

li a:hover {
    color: #111111;
}
#active{
    display:none
}
#cont1{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width: 100vw;
    overflow-x:hidden;
}
#home_page{
    background: linear-gradient(180deg, rgba(248, 213, 8, 0.4) 0%, rgba(255, 234, 159, 0) 100%);
    position: relative;
    top: 12%;
    display:flex;
    width:100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction:column;

}
#img-frame{
    position:relative;
    top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:scale(.9)

}
#slider{
    border-radius: 25px;
    border: 8px solid #F8D508;
    position: relative;
    width: 50%;
    height: auto;
    overflow:hidden;
}
#slider figure{
    position:relative;
    width:500%;
    margin: 0;
    left :0;
    animation: 10s slider infinite; 
}
#slider figure img {
    border-radius: 10px;
    width:20%;
    float:left;
}
@keyframes slider {
    0%{left: 0;}
    20%{left: 0;}
    25%{left:-100%}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%}
    75%{left: -300%}
    95%{left: -300%;}
    100%{left: -400%;}
}
#rect1{
    transform:translateY(-122%);
    z-index: -10;
    /*width: 1050px;
    height: 250px;*/
    width: 63vw;
    height: 18vw;
    background: #F8D508;
    border-radius: 14.1253px;
}
#rect2{   
    transform:translateY(-360%);
    z-index: -20;    
    /*width: 1230px;
    height: 145px;*/
    width: 77vw;
    height: 10vw;
    background: #F4E274;
    border-radius: 15px;
}
#title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #1150A0;
}
#title_discripton{
    font-family: 'Roboto', sans-serif;
    width: 80vw;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #888B8E;
    text-align: center;

}
#text_frame{
    position: absolute;
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.form{
    margin-top: -6%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:80vw;
    background-color: #B9B8AE;
    border-style: none;
    padding:10px 0px 10px 0;
    border-radius: 50px;

}
select{
    background: #EDE5E5;
    border-radius: 10px;
    width:6vw;
    height:24px;
    border-style: none;
}
.form_cont{
    margin-top: -10px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.label{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    color: #EDE5E5;
}
#search{
    background: #F8D508;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    color: #1150A0;
    border-style: none;
    margin-top: 5px;
}
#cont1-1{
    margin-top:5%;
    width:90vw;
}
#part1{
    display:flex;
    justify-content:space-between;
    align-items:start;
    flex-direction: row;
}
#warranty{
    display: flex;
    flex-direction: column;
    background: #FFF4BB;
    border-radius: 30px;
    padding: 20px;
}
#warranty_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #FFC20E;

}
#warranty_description{
    width:40vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #646060;
}
#warranty_img,#part_exchange_img{
    position: relative;
}
#aa_img{
    position:absolute ;
    right:-2.7%
}
#part2{
    margin-top: -3%;
    display:flex;
    flex-direction:row;
    justify-content:start;
}
#warranty_feature{
    margin-right: 100px;
}
#feature_title,#level_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #1150A0;
}
#feature_description p ,.levels {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 43px;
    color: #646060;
}
.levels{
    display:inline;
    font-size: 20px;
    line-height: 40px;
}
 h3{
    display:inline;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #363434;
}
span{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #1150A0;
}
#level_description div{
    width: 40vw;
}
#cont1-2,#cont1-3{
    margin-top:15%;
    width:85vw;   
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: row;
}
#part_deco{
    position: absolute;
    top: -25%;
    left: -20%;
}
#part_exchange{
    width: 40vw;
}
#part_exchange_title,#location_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;
    color: #1150A0;
}
#part_exchange_description{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #3E3B3B;
}
#part_exchange_link{
    position: relative;
    left: 22%;
    width: 58%;
    padding: 10px;
    background: #F8D508;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}
#part_exchange_link:hover{
    background-color: #fbe45d; 
    cursor: pointer;
}
#part_exchange_link span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    color: #1150A0;
}
#location_description{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    width: 60%;
    line-height: 28px;
    color: #736E6E;
}
iframe{
    border: 7px solid #3E3B3B;
    border-radius: 20px;

}
#date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}
#date_img{
    width: 90%;
    height: auto
}
#date_img_description{
    width: 70%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #736E6E;
}
#cont1-4{
    margin-top: 10%;
}
#big_rec{
    position: relative;
    width: 992px;
    height: 494px;
    background: #FFFFFF;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
}
#rec1{
    position: absolute;
    right: 0;
    width: 464px;
    height: 494px;
    background: #1150A0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 40px 40px 0px;
    display: flex;
    justify-content: center;
    align-items:center;
}
#contact_text1,#contact_text2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 77px;
    line-height: 110px;
    color: #FFFFFF;
}
#contact_text2{
margin-left: 80%;
}
#social_media{
    position: absolute;
    right: 4%;
    bottom: 2%;
}
#facebook_logo:hover,#instagram_logo:hover{
    cursor: pointer;
    fill: rgb(226, 226, 226);
}
#rec2{
    position: absolute;
    left: 0;
    width: 528px;
    height: 494px;
}
footer{
    margin-top: 1%;
    width: 100%;
    position: relative;
}
#info_title{
    margin-left: 45%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #363434;
}
#info_description{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
}
#company_name,#company_date,#company_number{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 0px;
    color: #736E6E;
}
#company_contact_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
}
#contact_info p{
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    color: #ffffff;
    line-height: 10px
}
#copyright{
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 11px;
    color: #646060;
}
#id_phone,#id_email,#id_message,#id_name{
    margin-top: 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #646060;
    padding: 3px;

}
#id_message{
    height: 150px;
    width: 75%;
    margin-bottom: 12px;
}
#div_id_name{
    width: 40%;
    margin-right: 20px;
    float: left;

}
#id_email{
    width: 75%;
}
#id_phone{
    display: inline;
    width: 30%;}
label{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    color: #646060;
}
#rec2_cont{
    position: relative;
    top: 20%;
    left: 10%;
}
#div_id_email,#div_id_message{
    margin-top: 5px;
}
form input[type="submit"]{
    background: #1150A0;
    border: 0px solid;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    padding: 5px 12px 5px 12px;

    color: #F7CD09;
}
form input[type="submit"]:hover{
    cursor: pointer;
    opacity: .9;
}
#rec2_cont h1{
    position: absolute;
    top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 23px;
    color: #646060;
}